<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ ansible_managed }} -->

<Server port="{{ jolokia_tomcat.shutdown_port | default('8005') }}" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <Service name="Catalina">

    <Executor name="tomcatThreadPool"
              namePrefix="catalina-exec-"
              maxThreads="50"
              minSpareThreads="5" />

    <Connector executor="tomcatThreadPool"
               port="{{ jolokia_tomcat.http_port | default('8080') }}"
               address="{{ jolokia_tomcat.http_bind | default('0.0.0.0') }}"
               protocol="HTTP/1.1"
               connectionTimeout="20000"
               URIEncoding="UTF-8"
               bindOnInit="false" />
<!--
    <Connector executor="tomcatThreadPool"
               port="{{ jolokia_tomcat.ajp_port | default('8099') }}"
               address="{{ jolokia_tomcat.ajp_bind | default('0.0.0.0') }}"
               protocol="AJP/1.3"
               URIEncoding="UTF-8"/>
-->
    <Engine name="Catalina" defaultHost="localhost">

      <Host name="localhost" appBase="webapps" unpackWARs="false" autoDeploy="false">

        <Valve className="org.apache.catalina.valves.AccessLogValve"
               directory="logs"
               prefix="localhost_access"
               suffix=".log"
               pattern="%h %l %u %t &quot;%r&quot; %s %b"
               resolveHosts="false" />

      </Host>
    </Engine>
  </Service>
</Server>
