
[Unit]
Description = jolokia
After = syslog.target network.target

[Service]
#Type = forking
Type = simple
PIDFile = {{ jolokia_home }}/jolokia.pid

User  = {{ jolokia_user }}
Group = {{ jolokia_group }}

Environment = CATALINA_PID={{ jolokia_home }}/jolokia.pid
Environment = CATALINA_HOME={{ jolokia_home }}/current

RuntimeDirectory = jolokia
RuntimeDirectoryMode = 0775

ExecStart = {{ jolokia_home }}/current/bin/startup.sh -Dprocessname=jolokia
ExecStop  = {{ jolokia_home }}/current/bin/shutdown.sh 30
TimeoutStartSec = 600

[Install]
WantedBy = multi-user.target
