{# https://www.freedesktop.org/software/systemd/man/systemd.service.html #}

[Unit]
Description     = jolokia
After           = syslog.target network.target

[Service]
Type            = forking
PIDFile         = {{ jolokia_home }}/jolokia.pid
RemainAfterExit = no
{% if jolokia_systemd.restart is defined %}
{% set _attr = ['always','on-success','on-failure','on-abnormal','on-abort','on-watchdog'] %}
{% if jolokia_systemd.restart in _attr %}
Restart         = {{ jolokia_systemd.restart }}
{% endif %}
{% if jolokia_systemd.restart_sleep is defined %}
RestartSec      = {{ jolokia_systemd.restart_sleep }}
{% endif %}
{% endif %}

User            = {{ jolokia_user }}
Group           = {{ jolokia_group }}

Environment     = CATALINA_PID={{ jolokia_home }}/jolokia.pid
Environment     = CATALINA_HOME={{ jolokia_home }}/current

RuntimeDirectory     = jolokia
RuntimeDirectoryMode = 0775

ExecStart       = {{ jolokia_home }}/current/bin/startup.sh
ExecStop        = {{ jolokia_home }}/current/bin/shutdown.sh 30
TimeoutStartSec = 600

[Install]
WantedBy        = multi-user.target
