[Unit]
Description = Jolokia Service
Documentation =
After = network.target

[Service]
Type = simple
User = {{ jolokia_user }}
Group = {{ jolokia_group }}
ExecStart = /usr/bin/connect-distributed /etc/kafka/connect-distributed.properties
Environment = "KAFKA_OPTS=-javaagent:{{ jolokia_home }}/jolokia-agent.jar=port={{ jolokia_port }},host={{ jolokia_bind_ip | default( '0.0.0.0' )}}"
Environment = "LOG_DIR=/var/log/connect"
TimeoutStopSec = 180
Restart = no

[Install]
WantedBy = multi-user.target
